<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PORTAFOLIO</title>
  <link rel="stylesheet" href="app.component.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  <header class="header">
    <a href="#home" class="logo">Jharold<span> Doria</span></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
      <a href="#home" class="active">Inicio</a>
      <a href="#education">Educación</a>
      <a href="#services">Servicios</a>
      <a href="#testimonials">Testimonios</a>
      <a href="#contact">Contacto</a>
    </nav>
  </header>

  <section class="home" id="home">
    <div class="home-content">
      <h1>Hola Soy <span>Jharold</span>-Doria</h1>
      <h3 class="text-animation">Soy un<span></span></h3>
      <p>Mi trabajo es crear la estructura y organización de sistemas y aplicaciones. Me aseguro de
      que cada componente funcione bien entre sí y que las interfaces sean fáciles de usar.</p>

      <div class="social-icons">
          <a href="#"><i class='bx bxl-facebook'></i></a>
          <a href="#"><i class='bx bxl-github'></i></a>
          <a href="#"><i class='bx bxl-instagram-alt'></i></a>
          <a href="#"><i class='bx bxl-whatsapp'></i></a>
    </div>

    <div class="btn-group">
      <a href="#hire" class="btn">Contratar</a>
      <a href="#contact" class="btn">Contacto</a>
    </div>
  </div>
      <div class="home-img">
        <img src="https://scontent-mia3-1.xx.fbcdn.net/v/t1.6435-9/190263155_1257950324637029_7383091027130126868_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=53a332&_nc_eui2=AeEN1GApMu5HQBqE3ALUCu9ygH21IKIBGYaAfbUgogEZhjeSmbZl2svfr2R7D8qChxG5vzSd6lsJ6aHIKssWEKWM&_nc_ohc=AylEgoqaUpcQ7kNvgGqvMZ6&_nc_ht=scontent-mia3-1.xx&_nc_gid=ACR-PGM6GkO7_XK0CjiC8oL&oh=00_AYC5MNePHy0JM4VwgmxMbNVqXlcIKLvV44OtelU6oomNrQ&oe=67238B71" alt="">
      </div>
  </section>

  <section class="education" id="education">
    <h2 class="heading">Educación</h2>

    <div class="timeline-items">

      <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2021</div>
        <div class="timeline-content">
          <h3>Escuela Secundaria</h3>
          <p>Me gradué de la institucion educativa rafael nuñez alos 18 años Fue una etapa importante
          en mi vida y desde entonces he seguido enfocado en mi carrera como ingeniero en systemas.</p>
        </div>

      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
          <div class="timeline-date">2023</div>
          <div class="timeline-content">
            <h3>Centro Biotegnologico Del Caribe Sena</h3>
            <p>Actualmente soy aprendiz de Análisis y Desarrollo de Software (ADSO) en el Centro Biotecnológico del Caribe del SENA.
            Comencé este programa en 2023 y lo finalizaré en 2024. A lo largo de este tiempo, he estado perfeccionando mis
            habilidades en análisis, diseño y desarrollo de software, preparándome para enfrentar desafíos en el campo tecnológico.</p>
          </div>

      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
          <div class="timeline-date">2024</div>
          <div class="timeline-content">
          <h3>Pasantía</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, sed, quasi voluptatibus impedit voluptas
              deserunt asperiores libero aspernatur enim laborum maiores quo aliquam quia neque ratione eligendi itaque,
              dolore nobis.</p>
          </div>

      </div>

      <div class="timeline-item">
        <div class="timeline-dot"> </div>
          <div class="timeline-date">2025</div>
          <div class="timeline-content">
            <h3>Mi primer trabajo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, sed, quasi voluptatibus impedit voluptas
              deserunt asperiores libero aspernatur enim laborum maiores quo aliquam quia neque ratione eligendi itaque,
              dolore nobis.</p>
          </div>

      </div>
    </div>
  </section>

  <section class="services" id="services">
    <h2 class="heading">Servicios</h2>

    <div class="services-container">
      <div class="service-box">
        <div class="service-info">
          <h4>Diseño de interfaz de usuario</h4>
          <p>Me enfoco en crear interfaces visualmente atractivas y funcionales, siempre pensando en la experiencia del usuario. Mi
          objetivo es que cada interacción con el software sea intuitiva y eficiente, garantizando una navegación fluida y
          agradable.</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>Desarrollo Frontend</h4>
          <p>Me dedico a crear la parte visual y funcional de las aplicaciones web, asegurándome de que todo lo que los usuarios ven
          e interactúan sea atractivo, rápido y fácil de usar. Utilizo tecnologías como HTML, CSS y JavaScript para diseñar
          interfaces modernas y optimizadas. Mi meta es garantizar una excelente experiencia del usuario en cada proyecto.</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>Desarrollo De Backend</h4>
          <p>Me encargo de gestionar la lógica del servidor, las bases de datos y la seguridad de las aplicaciones, asegurando que
          todo funcione correctamente detrás de escena. Utilizo tecnologías como Node.js, Python y bases de datos SQL para crear
          sistemas eficientes y escalables.</p>
        </div>
      </div>

      <div class="service-box">
        <div class="service-info">
          <h4>DBA</h4>
          <p>Como DBA, mi papel es fundamental para garantizar que las bases de datos de la organización funcionen de manera eficiente y segura. 
            Soy responsable de la instalación, configuración y mantenimiento de las bases de datos, asegurando que estén siempre disponibles 
            para los usuarios y aplicaciones que las necesiten.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="testimonials-box">
      <h2 class="heading">Habilidades</h2>

      <div class="wrapper">
        <div class="testimonials-item">
          <img src="https://www.campusmvp.es/catalogo/repository/product/Curso-online-HTML-CSS.png" alt="">
          <h2>web</h2>
          <div class="rating">
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
          </div>

          <!-- p>"Miguel hizo un buen trabajo en nuestro proyecto. Su diseño de interfaces fue funcional y cumplió con lo que
          necesitábamos. Aunque hubo algunos ajustes, siempre estuvo dispuesto a escuchar y mejorar."</p -->
        </div>
        <div class="testimonials-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJp2aVq2_yL4lgoL4qbiVocx7nuwpb8DkRVA&s" alt="">
          <h2>Mysql</h2>
          <div class="rating">
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
          </div>
          <!-- p>"En el desarrollo backend, Miguel fue responsable y cumplió con los plazos. Aunque tuvo algunos desafíos, logró
          implementar lo necesario para que el sistema funcionara correctamente."</p-->
        </div>

        <div class="testimonials-item">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTesEZWmik3v7rTN3NiWAjySQJO8IQ7ui9mKZbwRtX7Zz81pgpJ2VRCLUV2CIyZOK0cyFM&usqp=CAU" alt="">
          <h2>php</h2>
          <div class="rating">
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
            <i class='bx bxs-star' id="star"></i>
          </div>
          <!--p>"Miguel se encargó de las pruebas y, aunque no detectó todo a la primera, fue cuidadoso y encontró varios problemas que
          pudimos solucionar antes del lanzamiento. Aprecio su compromiso."</p-->
        </div>
      </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <h2 class="heading">contacto <span>personalizado</span></h2>

    <form action="">
      <div class="input-group">
        <div class="input-box">
          <input type="text" placeholder="Nombre completo">
          <input type="email" placeholder="Correo electrónico">
        </div>
        <div class="input-box">
          <input type="number" placeholder="Número de teléfono">
          <input type="text" placeholder="Sujeto">
        </div>
      </div>

      <div class="input-group-2">
        <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
        <input type="submit" value="Enviar mensaje" class="btn">
      </div>
    </form>
  </section>

  <footer class="footer">
    <div class="social">
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-github'></i></a>
      <a href="#"><i class='bx bxl-instagram-alt'></i></a>
      <a href="#"><i class='bx bxl-whatsapp'></i></a>
    </div>

    <ul class="list">
      <li>
        <a href="#">Preguntas frecuentes</a>
      </li>

      <li>
        <a href="#">servicios</a>
      </li>

      <li>
        <a href="#">Acerca de mí</a>
      </li>

      <li>
        <a href="#">Contacto</a>
      </li>

      <li>
        <a href="#">Testimonios</a>
      </li>
    </ul>
    <p class="copyright">
    © Jharold Doria | Reservados todos los derechos
    </p>
  </footer>

  <Script src="app.component.js"></Script>
</body>
</html>
